<mat-toolbar color="primary">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>
                <img src="/assets/img/icon_154.png" alt="W3AI" height="24" width="24">
            </mat-icon>
        </button>
    </div>

    <div fxHide.gt-sm>
        <a routerLink="/">Progress OS</a>
    </div>

    <div fxHide.lt-md>
        <a routerLink="/">{{ appTitle }}</a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.gt-sm>
        <ul fxLayout fxLayoutAlign="center center" fxLayoutGap="15px" class="navigation-items">
            <li *ngIf="isAuth$ | async"><a routerLink="/project"><span matBadge="9" matBadgeColor="warn">ToDo</span></a></li>            
            <li *ngIf="isAuth$ | async"><a routerLink="/venture"><span matBadge="7" matBadgeColor="warn">Vote</span></a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/session"><span matBadge="6" matBadgeColor="warn">Done</span></a></li>
        </ul>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
        <ul fxLayout fxLayoutAlign="center center" fxLayoutGap="15px" class="navigation-items">

            <li *ngIf="isAuth$ | async"><a routerLink="/project"><span matBadge="9" matBadgeColor="warn" matBadgeOverlap="true">ToDo</span></a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/venture"><span matBadge="7" matBadgeColor="warn" >Vote</span></a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/session"><span matBadge="6" matBadgeColor="warn" matBadgeOverlap="true">Done</span></a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/session"><span matBadge="8" matBadgeColor="warn" matBadgeOverlap="true">Bots</span></a></li>

            <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>

            <li><a routerLink="/about">About</a></li>

            <li><a routerLink="/help">Help</a></li>

            <li *ngIf="isAuth$ | async">
                <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>
                        <a routerLink="/setup"><img src="/assets/img/icon_154.png" alt="W3AI" height="24" width="24"></a>
                    </mat-icon>
                </button>
            </li>

        </ul>
    </div>
</mat-toolbar>