.green-ai {
    color: #8cc152;
}

.dev {
    color: white;
    font-style: italic;
}

.mat-toolbar {
    padding: 0px 16px 0px 0px;
    height: 48px;
}

.toolbar-text {
    margin-top: 4px; 
}

.desktop {
    margin-top: 4px;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.title-version {
    font-size: smaller;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.w3ai-icon {
    background-image: url('/assets/img/icon_154.png');
    background-size: cover;
  }

.links {
    color: lightgray;
}

.right-icon {
    padding-bottom: 4px;
}


