<section class="signup-form">
  <div class="signup">
      <h3> </h3>
      <img src="assets/img/3ai-global-leafs-256.png" alt="Solve World's Problems" height="96" width="96">
      <h3>signup to aiEconomy</h3>
      <h3><span style="color: #8cc152">v.8 demo &nbsp; & &nbsp; tests:</span></h3>
      <h3><span style="color: #8cc152">innovate@w3ai.net<br>Turing_Test_247</span></h3>
  </div>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="your email" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">e-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input 
        type="password" 
        matInput 
        placeholder="Your password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="maturity age required for innoVoting & auto patenting.">
      <input 
      matInput 
      placeholder="your birthdate: mm/dd/yyyy" 
      [matDatepicker]="picker"
      [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox ngModel name="agree" required color="primary">agree to terms and conditions.</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid" >Sign up</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>

  <div class="signup-footer">
      <p>innovation engine G8 PoC</p>
    <p>© Ianta Labs / MIT License</p>
  </div>
</section>
