<section fxLayout="column" fxLayoutAlign="start center" class="web-view">

  <img id="innovators" class="web-show" src="/assets/img/innovators-400.jpg" height="235">

  <div class="mission">
    <h4 id="leaders">fun OS for billion cells</h4>
  </div>

  <div class="slow-world" [ngStyle]="{'background-position-x': setSlowWorldMove() + 'px'}">
    <img id="voters" src="/assets/img/filter.png">
  </div>

  <div class="web-line-north" [ngStyle]="{'background-position-x': setProgressSpeed() + 'px'}">
    <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div class="web-line-south" [ngStyle]="{'background-position-x': setProgressSpeed() + 'px'}">
    <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div class="slides">
      <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div fxLayout="column" fxLayoutAlign="start center">
<!--
    <img class="slides" src="/assets/img/3ai-ppt.png" alt="Progressive Teams Operating System">
-->

    <div class="carouselbox">

      <ol class="content-carousel" fxLayout="row" fxLayoutAlign="center center">

        <li fxHide.lt-md class="ranks" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <h6 class="carousel"
            title="Ranking based on Alfred North Whitehead formula - Civilization Rank = Number of unique automated services">
            innovation rank: number of swarm bots</h6>
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <li class="rank"><img class="rank-flag" src="/assets/flags/US.png"><br>en</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/CN.png"><br>zh</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/DE.png"><br>de</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/RU.png"><br>ru</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/FR.png"><br>fr</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/IN.png"><br>hi</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/JP.png"><br>ja</li>
          </ol>
        </li>

        <li class="ranks middle" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

            <li>
                <ol class="my-bot-mob-tops" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <li class="rank">bots<br><img class="rank-flag" src="/assets/flags/US.png"><br>112</li>
                    <li class="rank">swarms<br><img class="rank-flag" src="/assets/flags/CA.png"><br>134</li>
                    <li class="rank">skills<br><img class="rank-flag" src="/assets/flags/IN.png"><br>137</li>
                    <li class="rank">friends<br><img class="rank-flag" src="/assets/flags/RO.png"><br>216</li>
                </ol>
            </li>

            <li class="mob-in">
                <a routerLink="/signup"><button class="auth-button" mat-button>have fun</button></a>
            </li>

          </ol>

        </li>

        <li fxHide.lt-md class="ranks" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <h6 class="carousel"
            title="Ranking based on Alfred North Whitehead formula - Progress Rank = Speed of adding new types of automated services">
            progress rate: swarm bots releases/day</h6>
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <li class="rank"><img class="rank-flag" src="/assets/flags/CN.png"><br>zh</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/US.png"><br>en</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/RU.png"><br>ru</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/DE.png"><br>de</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/ES.png"><br>es</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/IN.png"><br>hi</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/EG.png"><br>ar</li>
          </ol>
        </li>

      </ol>

    </div>

    <!--
          <mat-grid-list class="under-grid" cols="20" rowHeight="16px">
            <mat-grid-tile class="under-tile" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
              [style.background]="tile.color">
              <img src="/assets/img/coder-bot.png"> {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>
    -->

  </div>

</section>

<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

  <div id="OpenLayers" class="top">
    <app-map></app-map>
  </div>

  <section class="speed">
    <div fxLayout="row" xLayoutAlign="center center" fxLayoutGap="20px"  fxLayoutGap.gt-xs="20px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetManual(3000)"
            [ngStyle]="{color: getStatusButtonManual()}"><b>></b></button></div>
            <div class="speed-type">v f</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetSprint(100)"
            [ngStyle]="{color: getStatusButtonMarathon()}"><b>>></b></button></div>
            <div class="speed-type">f f</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetRun(10)"
            [ngStyle]="{color: getStatusButtonHackathon()}"><b>>>></b></button></div>
            <div class="speed-type">f f f</div>
      </div>
    </div>
  </section>

  <section id="pace-setup">
  
    <section *ngIf="sprint" class="world-brain" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
      <table id="loop">
        <tr>
          <td style="width:3px"></td>
          <td style="width:7px"></td>
          <td style="width:105px"></td>
          <td style="width:20px"></td>
          <td style="width:10px"></td>
          <td style="width:85px"></td>
          <td style="width:10px"></td>
          <td style="width:20px"></td>
          <td style="width:105px"></td>
          <td style="width:7px"></td>
          <td style="width:3px"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>&nbsp;fun ideas&nbsp;</b></td>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>fun links</b></td>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>&nbsp;fun bots&nbsp;</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Tasks {{ nrProblems }} </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>#</td>
          <td>My Interests</td>
          <td>#</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Services {{nrServices}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat1()}"></td>
          <td>{{nProject1 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag1()}"></td>
          <td>{{pT1}}</td>
          <td>{{link1 | slice:0:8}}</td>
          <td>{{sT1}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag1()}"></td>
          <td>{{nService1 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat1()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat2()}"></td>
          <td>{{nProject2 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag2()}"></td>
          <td>{{pT2}}</td>
          <td>{{link2 | slice:0:8}}</td>
          <td>{{sT2}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag2()}"></td>
          <td>{{nService2 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat2()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat3()}"></td>
          <td>{{nProject3 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag3()}"></td>
          <td>{{pT3}}</td>
          <td>{{link3 | slice:0:8}}</td>
          <td>{{sT3}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag3()}"></td>
          <td>{{nService3 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat3()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat4()}"></td>
          <td>{{nProject4 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag4()}"></td>
          <td>{{pT4}}</td>
          <td id="link4">{{link4 | slice:0:8}}</td>
          <td>{{sT4}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag4()}"></td>
          <td>{{nService4 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat4()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat5()}"></td>
          <td>{{nProject5 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag5()}"></td>
          <td>{{pT5}}</td>
          <td>{{link5 | slice:0:8}}</td>
          <td>{{sT5}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag5()}"></td>
          <td>{{nService5 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat5()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat6()}"></td>
          <td>{{nProject6 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag6()}"></td>
          <td>{{pT6}}</td>
          <td>{{link6 | slice:0:8}}</td>
          <td>{{sT6}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag6()}"></td>
          <td>{{nService6 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat6()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat7()}"></td>
          <td>{{nProject7 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag7()}"></td>
          <td>{{pT7}}</td>
          <td>{{link7 | slice:0:8}}</td>
          <td>{{sT7}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag7()}"></td>
          <td>{{nService7 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat7()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="wall-1-projects"><b>BID Σ: </b>{{this.tag[(i+2)%this.nrLinks][3]}}</td>
          <td></td>
          <td></td>
          <td class="wall-3-market" [ngStyle]="{color: getDeltaColor()}"><b>MΔ: {{ this.tag[(i+2)%this.nrLinks][5] }}</b>
          </td>
          <td></td>
          <td></td>
          <td class="wall-2-services"><b>ASK Σ: </b>{{this.tag[(i+2)%this.nrLinks][4]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="wall-1-projects" colspan="3">&nbsp;service demand</td>
          <td></td>
          <td (click)="onPrev()"><b>
              <</b> </td> <td class="wall-3-market">market loop</td>
          <td (click)="onNext()"><b>></b></td>
          <td></td>
          <td class="wall-2-services" colspan="3">service offer</td>
        </tr>
      </table>
    </section>

    <section id="manual" *ngIf="manual">
  
      <div id="round-robin-container">
        <div id="interest-container" fxLayout="row" fxLayoutAlign="space-between center">
          <div>#<br><b>{{ l }}</b></div>
          <div>link<br><b>{{ link1 }}</b></div>
          <div><b>f 101</b><br><b>¢ {{ this.tag[l][5] }}</b></div>
        </div>
        <div id="project-service-container" fxLayout="row" fxLayoutGap="0px" style="width: 300px; height: 200px;">

          <div id="project-container" fxLayout="column" fxLayoutAlign="center center" 
          [@prjState]="prj_state">
            <div id="project-owner-container">#{{p}} - {{ nProject1 }}</div>
            <div id="project-state-container">Owner Image
              <div id="project-state">Next Steps</div>
              <div id="project-state-badges-container"></div>
            </div>
          </div>

          <div id="service-container" fxLayout="column" fxLayoutAlign="center center"
          [@srvState]="srv_state">
            <div id="service-owner-container">#{{s}} - {{ nService1 }}</div>
            <div id="service-state-container">Owner Image
                <div id="service-state">Next Steps</div>
                <div id="service-state-badges-container"></div>
            </div>
          </div>
        </div>
      </div>

    <!-- Table draft for Manual / FaceMash View 
      <table id="fbView" style="width:300px">
        <tr>
          <td style="height:20px">title</td>
          <td>title</td>
        </tr>
        <tr>
          <td style="height:10px">subtitle</td>
          <td>subtitle</td>
        </tr>
        <tr>
          <td style="height:150px">
            <img src="/assets/img/0projects/voyager-woman.png" alt="Voyager Project" height="150" width="150">
          </td>
          <td>
            <img src="/assets/img/0services/voyager-man.png" alt="Voyager Service" height="150" width="150">
          </td>
        </tr>
      </table>
    -->

    </section>
  
    <section *ngIf="run">
  
      <div id="hello-world">
        <h1 id="main-title">web brain</h1>
        <div class="header" fxLayout="row" fxLayoutAlign="center center">
          <div id="left" fxFlex="27%">
            <p>
              <br><span class="side-title">smart swarms</span><br>
              links<sup>2</sup>: {{ superFriendsNo }}<br>
              projects: {{ superProjectsNo }}<br>
              services: {{ superServicesNo }}<br>
              tasks/ms: {{ superTxPerMs }}<br>
              $/min: {{ superRatePerMin | currency }}<br>
              <span class="side-title">web brain</span><br>
            </p>
          </div>
  
          <div id="center" fxFlex="46%">
            <div class="welcome">
              <a *ngIf="!(isAuth$ | async); else Project" routerLink="/signup">
                <img src="/assets/img/fun_icon_512-indigo.png" alt="Solve World's Problems" height="96" width="96">
              </a>
              <ng-template #Project>
                <a id="project" routerLink="/project">
                  <img src="/assets/img/fun_icon_512-indigo.png" alt="Solve World's Problems" height="96" width="96">
                </a>
              </ng-template>
            </div>
          </div>
  
          <div id="right" fxFlex="27%">
            <div fxLayout fxLayoutAlign="end end">
              <p>
                <br><span class="side-title">cell teams</span><br>
                friends<sup>2</sup>: {{ officeFriendsNo }}<br>
                projects: {{ officeProjectsNo }}<br>
                skills: {{ officeServicesNo }}<br>
                tasks/ms: {{ officeTxPerMs }}<br>
                $/min: {{ officeRatePerMin | currency }}<br>
                <span class="side-title">office teams</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
  
    </section>

  </section>

</section>



<section>

<div id="south-globe">

<!--
    <div class="quote">
        <p><q>We are all connected by the Internet, like Neurons in a Giant Brain.</q><br>
        <i>Stephen Hawking</i></p>
      </div>


  <h3 id="under-blue">Set your Progress on {{aiSetup}}</h3>
  <h5>for</h5>
  <h1 id="goal">{{goal}}</h1>
-->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
    <a routerLink="/login"><button class="auth-button" mat-button>sign in</button></a>
    <a routerLink="/signup"><button class="auth-button" mat-button>sign up</button></a>
  </div>
</div>
</section>


<section class="mid" fxLayout="column" fxLayoutAlign="center center">
  <section class="clone" fxLayout="row" fxLayoutGap="40px">
    <div class="open-source" fxLayout="column" fxLayoutAlign="center center">
      <p><b>w3ai.org</b></p>
      <p><b><a href="https://w3ai.org">fun swarms<br>public mobs</a></b></p>
      <p>edu | org</p>
    </div>
    <div class="enterprise" fxLayout="column" fxLayoutAlign="center center">
      <p><b>w3ai.net</b></p>
      <p><b><a href="https://w3ai.net">cash swarms<br>business mobs</a></b></p>
      <p>gov | com</p>
    </div>
  </section>

<!--
  <h1>FAIR PROGRESS ENGINES</h1>
  <a href="https://www.meetup.com/SocialAI/">
    <img src="assets/img/3AI-uWeb-Cortex.png" title="Join our W3AI Meetups in Toronto, NYC, Halifax to learn more.">
  </a>
-->

  <h1>the web brain</h1>
</section>

<div class="welcome" fxLayout="row" fxLayoutGap="0px"  fxLayoutGap.gt-xs="18px" fxLayoutAlign="center center">
  <section>
    <h3>innovate</h3>
        <a routerLink="/project"><button mat-button>add projects</button></a>
  </section>
  <section>
    <h3>venture</h3>
    <a routerLink="/venture"><button mat-button>add teams</button></a>
  </section>
  <section>
    <h3>progress</h3>
    <a routerLink="/skill"><button mat-button>add bots</button></a>
  </section>
</div>

<div class="welcome">
  <section>
      <h1>join 1000s of swarms</h1>
      <p>&</p>
      <h1>make 1000s of friends</h1>
      <h1>worldwide</h1>
      <h1>online 24/7</h1>
    <h3>connections & results in seconds</h3>
  </section>
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row"  fxLayoutGap.gt-md="30px" fxLayoutAlign="center center">
  <section>
    <h3>how it works</h3>
    <p contenteditable="true">1. post fun ideas.</p>
    <p contenteditable="true">2. build fun bots.</p>
    <p>3. swarm up for best solutions.</p>
  </section>
  <section>
      <h3>available</h3>
      <p>worldwide 24/7.</p>
      <p>online and offline.</p>
      <p>on cloud & web devices.</p>
    </section>
  <section>
    <h3>what you need</h3>
    <p>cloud email: gmail | outlook (soon)</p>
    <p>cloud office: gsheets | excel (soon)</p>
    <p>basic office spreadsheet skills.</p>
  </section>
</div>

<div class="welcome">
  <h1>web's neocortex</h1>
  <p>decentralized fun swarms run 24/7</p>
  <p>3 types of bots in w3ai format:</p>
  <p>lead bot, fun bot, swarm bot</p>
  <p>build & share projects, skills & teams</p>
  <p>live transformation of ideas in swarms</p>
  <p>trinity bots cloned on your OS loop</p>
  <p>for online & offline operation 24/7</p>
  <p>maximize use of swarm resources</p>
  <p>fair distribution of benefits to all</p>
</div>

<div class="meetups" fxLayout="column" fxLayoutAlign="center center">
    <h3>Learn more at W3AI Meetups</h3> 
    <a href="https://www.meetup.com/SocialAI/">
      <img src="assets/img/3AI-nCortex.png" title="Join W3AI Meetups in Toronto, NYC, Halifax..." width="480px" height="270px">
    </a>
    <ul class="footer">
        <li>
            <a href="https://www.meetup.com/SocialAI/">Toronto</a> - 
            <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> - 
            <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
        </li> 
    </ul>
</div>
<div class="welcome">
    <h3>Powered by<br>DNA-CFS<br>algorithm</h3>

    <h1 id="thankyou-title">- Thank Yous -</h1>
    <p>Google - for Firebase / Firestore</p>
    <p>Angular Community</p>
    <p>Github Community</p>
    <p>Microsoft - for Azure hosting</p>
    <p>IBM - Cloud hosting</p>
    <p>Neo4j Community</p>
    <p>PayTM - Meetups hosting Toronto</p>
    <p>Thomson-Reuters - Meetup hosting</p>
    <p>HBC - Meetups hosting Toronto & NYC</p>
    <p>Facebook Developers Circles</p>
    <p>Dalhausie - Meetups hosting Halifax</p>
    <p>Toronto TCP1P Meetup Innovators</p>
    <p>New York Manhattan AIR Innovators</p>
    <p>Halifax AIG Innovators</p>
    <p>and</p>
    <p>thosands supporters, advisers & testers</p>
    <p>-</p>
    <h3 id="thankyou-title">inspired by</h3>
    <p>eukaryote OS</p>
    <p>Stephen Hawking</p>
    <p>Noam Chomsky</p>
    <p>Marvin Minsky</p>
    <p>Andy Grove</p>
    <p>Larry Page</p>
    <p>Bill Gates</p>
    <p>Alan Turing</p>
    <p>Alonzo Church</p>
    <p>Linus Torvalds</p>
    <p>Andrew Tanenbaum</p>
    <p>Eric Raymond</p>
    <p>Ingo Molnar</p>
    <p>Eric Maskin</p>
    <p>Roger Myerson</p>
    <p>Stephen Wolfram</p>
    <p>Mark Zuckerberg</p>   
    <p>Satoshi Nakamoto</p>
    <p>Alfred North Whitehead</p>
    <p>-</p>

</div>

  <ul class="footer">
    <li><a href="https://github.com/W3AI/Global-OS">clone fun kernel @ github</a></li>
    <li>fun OS PoC 0.8</li>
    <li>© Ianta Labs / MIT License</li>  
</ul>
