.web-view {
    height: 235px;
    width: 100%;
    text-align: center;
    background-image: url("/assets/img/innovators-400.jpg");
    background-color: rgba(64,84,178);
}

div.web-show {
    position: relative;
    top: 0px;
    z-index: 2;
    padding: 0px;
    text-align: center;
    height: 235px;
    display: block;
}

.mission {
    height: 40px;
    width: 100%;
    position: relative;
    top: -341px;
    z-index: 40;
/*  background-image: url("/assets/img/World-120.png");   */
    display: block;
}

#leaders {
    color: white;
    font-size: 20px;
    margin-left: 0px;
    height: 40px;
    width: 100%;
    position: relative;
    top: 110px;
    z-index: 40;
}

.slow-world {
    height: 146px;
    width: 100%;
    position: relative;
    top: -274px;
    z-index: 4;
    background-image: url("/assets/img/World-240.png");
    background-size: contain;
    background-position: 90px 0px;
    display: block;
}

#voters {
    height: 100%;
    width: 100%;
    filter:hue-rotate(0deg) opacity(0%) saturate(10);
}

.under-grid {
    position: relative;
    top: -648px;
    z-index: 5;
    width: 400px;
}

.under-tile {
    border: 0px solid white;
}

.slides {
    height: 235px;
    width: 100%;
    position: relative;
    top: -424px;
    background-position: center;
    background-image: url("/assets/img/aiEconomy.png");
    z-index: 20;
}

.stats {
    position: relative;
    top: -640px;
    height: 40px;
    width: 100%;
    text-align: center;
}

.web-line-north {
    position: relative;
    top: -422px;
    height: 2px;
    width: 100%;
    background-image: url("/assets/img/web-line-120.png");
    z-index: 30;
}

.web-line-south {
    position: relative;
    top: -186px;
    height: 2px;
    width: 100%;
    background-image: url("/assets/img/web-line-120.png");
    z-index: 10;
}

#web-filter {
    height: 100%;
    width: 100%;
    filter:hue-rotate(0deg) opacity(0%) saturate(10);
}

h6.web-links {
    position: relative;
    top: -636px;
    margin-top: 0px;
    color: #3f538f;
}

.carouselbox {
    position: relative;
    top: -422px;
    height: 45px;
    color: #3f538f;
}

.content-carousel{
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.content-carousel li {
    list-style: none;
    padding: 0px;
}

h6.carousel {
    text-align: center;
    margin: 0px;
}

.ranks {
    height: 38px;
    width: 300px;
    color: #3f538f;
    top: 50%;
}

.my-bot-mob-tops {
    width: 170px;
    padding:0px;
}

.mob-in {
    margin-top: 10px;
    border: 0px;
    padding: 0px;
}

li.ranks {
    margin: 0;
}

.middle {
    position: relative;
    top: 0px;
    left: 0px;
}

.container-index {
    height: 40px;
    width: 300px;
    padding: 0px;
}

ol.container-index {
    height: 10px;
    margin: 0px;
    padding: 0px;
}

.rank {
    margin-top: 12px;
    text-align: center;
    font: arrial;
    font-size: 12px;
    color: #3f538f;
}

.rank-flag {
    height: 12px;
    width: 18px;
}

a.ppt-links {
    color: whitesmoke;
    text-decoration: underline;
}

#interest-container {
    height: 30px;
    font-size: 9px;
    margin-top: 5px;
    background-color: rgba(254, 203, 69, .5);
    background-image: url("/assets/img/green-interests-30.png");
    padding: 4px;
    position: relative;
    z-index: 10;
}

#terms-dna {
    width: 300px;
    height: 330px;
    top: 6px;
    position: relative;
    z-index: 0;
}

#pairing {
    width: 300px;
    height: 330px;
    top: -330px;
    position: relative;
}


.po-step {
    font-family: monospace;
    font-size: 14px;
    color: #888;
    padding-top: 10px;
    text-align: right;
    height: 27.5px;
    width: 139px;
    position: relative;
    z-index: 50;
    background-color: rgba(217, 190, 190, 0.5)
}


.ps-step {
    font-family: monospace;
    font-size: 14px;
    color: #888;
    padding-top: 10px;
    text-align: right;
    height: 27.5px;
    width: 139px;
    position: relative;
    z-index: 50;
    background-color: rgba(217, 190, 190, 0.5)
}

.dna-reg {
    width: 22px;
    height: 6px;
    position: relative;
    z-index: 50;
    background-color: red;
}

.rna-exe {
    width: 22px;
    height: 6px;
    position: relative;
    z-index: 50;
    background-color: blue;
}

.so-step {
    font-family: monospace;
    font-size: 14px;
    color: #888;
    padding-top: 10px;
    height: 27.5px;
    width: 139px;
    position: relative;
    z-index: 50;
    background-color: rgba(217, 190, 190, 0.5)
}

.ts-step {
    font-family: monospace;
    font-size: 14px;
    color: #888;
    padding-top: 10px;
    height: 27.5px;
    width: 139px;
    position: relative;
    z-index: 50;
    background-color: rgba(217, 190, 190, 0.5)
}

.project-service-container {
    overflow: auto;
}

#projects-container {
    font-size: 9px;
    width: 150px; 
    height: 330px; 
    overflow: auto;
    background-color: rgba(238, 153, 147, .5);
}

.project-container {
    width: 150px; 
    height: 330px; 
}

.project-title {
    text-align: right;
    width: 150px; 
    height: 30px; 
}

.project-owner-container {
    width: 300px; 
    height: 150px; 
}

.project-owner-image {
    width: 150px; 
    height: 150px; 
    text-align: right;
    background-size:  cover;
}

.project-owner-badges {

    width: 150px; 
    height: 150px; 
}

.project-state-container {
    width: 300px; 
    height: 150px; 
}

.project-state-image {
    width: 150px; 
    height: 150px; 
    background-size:  cover;
}

.project-state-badges {
    text-align: right;
    width: 150px; 
    height: 150px; 
}



#services-container {
    font-size: 9px;
    width: 150px; 
    height: 330px; 
    overflow: auto;
    background-color: rgba(85, 180, 235, .5);
}

.service-container {
    width: 150px; 
    height: 330px; 
}

.service-title {
    width: 150px; 
    height: 30px; 
}

.service-owner-container {
    width: 300px; 
    height: 150px; 
}

.service-owner-image {
    width: 150px; 
    height: 150px; 
    background-size:  cover;
}

.service-owner-badges {
    text-align: right;

    width: 150px; 
    height: 150px; 
}

.service-state-container {
    width: 300px; 
    height: 150px; 
}

.service-state-image {
    width: 150px; 
    height: 150px; 
    background-size:  cover;
}

.service-state-badges {
    text-align: left;
    width: 150px; 
    height: 150px; 
}


.top {
    background-color: rgba(171, 211, 222, 1);
    width: 100%;
    height: 455px;
    z-index: -2;
}

#OpenLayers {
    z-index: -1;
    position: absolute;
}

table {
    font-family: arial, sans-serif;
    font-size: x-small;
    line-height: 11px;
    border-collapse: collapse;
    border: 1px solid red;
    width: 375px;
  }

  td {
    border: 1px solid grey;
    background-color: #fff;
  }

.wall-1-projects {
    font-family: arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    padding-right: 5px;
    color: darkslategray;
}
.wall-2-services {
    font-family: arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    padding-left: 5px;
    color: darkslategray;
}
.wall-3-market {
    font-family: arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    color: darkslategray;
}

.red-stat {
    border-radius: 50%;
    width: 20px;
    height: 5px; 
    background: red;
}

#link4 {
    border-style: solid;
    background-color:rgba(217, 190, 190, 0.5);
    border-width: 0px 0px 0px 0px;
}

.speed {
    position: relative;
    top: -60px;
    z-index: 30;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

.speed-type {
    position: relative;
    top: -35px;
    color: whitesmoke;
}

.W3AI-button {
    height: 36px !important;
    min-width: 70px !important;
    font-family: arial, sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(117, 117, 117, 1);
    border-radius: 16px;
}

.AUTO-button {
    font-family: arial, sans-serif;
    font-size: small;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:rgba(217, 190, 190, 0.7);
    border-radius: 8px;
}
.cycle-button {
    font-family: arial, sans-serif;
    font-size: small;
    color: indigo;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:rgba(217, 190, 190, 0.5);
    border-radius: 8px;
}

.auth-button {
    font-family: arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    border: 0px;
    background-color: #8cc152;
    border-radius: 8px;
}

.world-brain {
    text-align: center;
    margin-top: 10px;
    padding-top: 0px;
    /*
    width: 100%;
    height: 200px;
    background-image: url('/assets/img/3AI-World.png');
    background-repeat: no-repeat;
    background-position: center;
    */
}
/*
.ocean {
    background-color: rgba(155, 201, 215, 1);
}
*/

.free-ai {
    text-align: center;
}

h1 {
    padding: 0px;
    margin: 7px;
}

h3 {
    padding: 0px;
    margin: 3px;
}

h4 {
    padding: 0px;
    margin: 7px;
}

h5 {
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.quote {
    text-align: center; 
    color: #8c828c;
    font-size: 60%;
    margin: 5px;
    padding: 0px;
}

#main-title {
    text-align: center;
    margin: 0px;
    padding: 8px;
}

#hello-world {
    margin-top: 0px;
}

#under-blue {
    text-align: center;
    margin-top: 20px;
}

#goal {
    margin: 0 0 5px;
    padding: 2px;
}

.header {
    width: 324px;
    margin: 1px;
    padding: 0px;
}

.side-title {
    color: #8c828c;
}

#left {
    color: #8c828c;
    text-align: left;
    font-size: 60%;
    margin-left: 20px;
}

#right {
    color: #8c828c;
    text-align: right;
    font-size: 60%;
    margin-right: 20px;
}

#south-globe {
    text-align: center;
    margin: 0px;
    position: relative;
    top: -634px;
}

.welcome {
    text-align: center;
    padding: 0;
    margin: 0;
}

a {    
    text-decoration: none; /* no underline */
    color: grey;
  }

#thankyou-title {
    margin: 10px
}

.footer {
    list-style: none;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

li {
    padding: 5px;
}

.lang {
    color: #8c828c;
    font-size: 60%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

.todo {
    color: red;
}
