<section fxLayout="column" fxLayoutAlign="start center" class="web-view">

  <img id="innovators" class="web-show" src="/assets/img/innovators-400.jpg" height="235">

  <div class="mission">
    <h4 id="leaders">
 algorithmic innovators engine G8
<!--      t e a m &nbsp; p r i o r i t i e s &nbsp; 2 4 / 7 -->
    </h4>
  </div>

  <div class="slow-world" [ngStyle]="{'background-position-x': setSlowWorldMove() + 'px'}">
    <img id="voters" src="/assets/img/filter.png">
  </div>

  <div class="web-line-north" [ngStyle]="{'background-position-x': setProgressSpeed() + 'px'}">
    <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div class="web-line-south" [ngStyle]="{'background-position-x': setProgressSpeed() + 'px'}">
    <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div class="slides">
      <img id="web-filter" src="/assets/img/filter.png">
  </div>

  <div fxLayout="column" fxLayoutAlign="start center">
<!--
    <img class="slides" src="/assets/img/3ai-ppt.png" alt="Progressive Teams Operating System">
-->

    <div class="carouselbox">

      <ol class="content-carousel" fxLayout="row" fxLayoutAlign="center center">

        <li fxHide.lt-md class="ranks" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <h6 class="carousel"
            title="Ranking based on Alfred North Whitehead formula - Civilization Rank = Number of unique automated services">
            innovation rank: number of web nGenes</h6>
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <li class="rank"><img class="rank-flag" src="/assets/flags/us.png"><br>en</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/cn.png"><br>zh</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/de.png"><br>de</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/ru.png"><br>ru</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/fr.png"><br>fr</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/in.png"><br>hi</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/jp.png"><br>ja</li>
          </ol>
        </li>

        <li class="ranks middle" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

            <li>
                <ol class="my-bot-mob-tops" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <li class="rank">projects<br><img class="rank-flag" src="/assets/flags/us.png"><br>112</li>
                    <li class="rank">skills<br><img class="rank-flag" src="/assets/flags/ca.png"><br>134</li>
                    <li class="rank">nGenes<br><img class="rank-flag" src="/assets/flags/in.png"><br>137</li>
                    <li class="rank">friends<br><img class="rank-flag" src="/assets/flags/ro.png"><br>216</li>
                </ol>
            </li>

            <li class="mob-in">
                <a routerLink="/signup"><button class="auth-button" mat-button>ai &times; Teams</button></a>
            </li>

          </ol>

        </li>

        <li fxHide.lt-md class="ranks" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <h6 class="carousel"
            title="Ranking based on Alfred North Whitehead formula - Progress Rank = Speed of adding new types of automated services">
            progress rate: web nGenes releases/day</h6>
          <ol class="container-index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <li class="rank"><img class="rank-flag" src="/assets/flags/cn.png"><br>zh</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/us.png"><br>en</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/ru.png"><br>ru</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/de.png"><br>de</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/es.png"><br>es</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/in.png"><br>hi</li>
            <li class="rank"><img class="rank-flag" src="/assets/flags/eg.png"><br>ar</li>
          </ol>
        </li>

      </ol>

    </div>

    <!--
          <mat-grid-list class="under-grid" cols="20" rowHeight="16px">
            <mat-grid-tile class="under-tile" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
              [style.background]="tile.color">
              <img src="/assets/img/coder-bot.png"> {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>
    -->

  </div>

</section>

<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

  <div id="OpenLayers" class="top">
    <app-map></app-map>
  </div>

  <section class="speed">
    <div fxLayout="row" xLayoutAlign="center center" fxLayoutGap="20px"  fxLayoutGap.gt-xs="20px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetManual(4000)"
            [ngStyle]="{color: getStatusButtonManual()}"><b>f a i r</b></button></div>
            <div class="speed-type">a f a p</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetSprint(100)"
            [ngStyle]="{color: getStatusButtonMarathon()}"><b>f u n</b></button></div>
            <div class="speed-type">fast & fair</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div><button class="W3AI-button" mat-button (click)="onSetRun(10)"
            [ngStyle]="{color: getStatusButtonHackathon()}"><b>f a s t</b></button></div>
            <div class="speed-type">a s a p</div>
      </div>
    </div>
  </section>

  <section id="pace-setup">
  
    <section *ngIf="sprint" class="world-brain" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
      <table id="loop">
        <tr>
          <td style="width:3px"></td>
          <td style="width:7px"></td>
          <td style="width:105px"></td>
          <td style="width:20px"></td>
          <td style="width:10px"></td>
          <td style="width:85px"></td>
          <td style="width:10px"></td>
          <td style="width:20px"></td>
          <td style="width:105px"></td>
          <td style="width:7px"></td>
          <td style="width:3px"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>&nbsp;ideas&nbsp;</b></td>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>links</b></td>
          <td></td>
          <td></td>
          <td contenteditable="true"><b>&nbsp;bots&nbsp;</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Tasks {{ nrProblems }} </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>#</td>
          <td>My Interests</td>
          <td>#</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Services {{nrServices}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat1()}"></td>
          <td>{{nProject1 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag1()}"></td>
          <td>{{pT1}}</td>
          <td>{{link1 | slice:0:8}}</td>
          <td>{{sT1}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag1()}"></td>
          <td>{{nService1 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat1()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat2()}"></td>
          <td>{{nProject2 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag2()}"></td>
          <td>{{pT2}}</td>
          <td>{{link2 | slice:0:8}}</td>
          <td>{{sT2}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag2()}"></td>
          <td>{{nService2 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat2()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat3()}"></td>
          <td>{{nProject3 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag3()}"></td>
          <td>{{pT3}}</td>
          <td>{{link3 | slice:0:8}}</td>
          <td>{{sT3}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag3()}"></td>
          <td>{{nService3 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat3()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat4()}"></td>
          <td>{{nProject4 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag4()}"></td>
          <td>{{pT4}}</td>
          <td id="link4">{{link4 | slice:0:8}}</td>
          <td>{{sT4}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag4()}"></td>
          <td>{{nService4 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat4()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat5()}"></td>
          <td>{{nProject5 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag5()}"></td>
          <td>{{pT5}}</td>
          <td>{{link5 | slice:0:8}}</td>
          <td>{{sT5}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag5()}"></td>
          <td>{{nService5 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat5()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat6()}"></td>
          <td>{{nProject6 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag6()}"></td>
          <td>{{pT6}}</td>
          <td>{{link6 | slice:0:8}}</td>
          <td>{{sT6}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag6()}"></td>
          <td>{{nService6 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat6()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat7()}"></td>
          <td>{{nProject7 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag7()}"></td>
          <td>{{pT7}}</td>
          <td>{{link7 | slice:0:8}}</td>
          <td>{{sT7}}</td>
          <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag7()}"></td>
          <td>{{nService7 | slice:0:10}}</td>
          <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat7()}"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="wall-1-projects"><b>BID Σ: </b>{{this.tag[(i+2)%this.nrLinks][3]}}</td>
          <td></td>
          <td></td>
          <td class="wall-3-market" [ngStyle]="{color: getDeltaColor()}"><b>MΔ: {{ this.tag[(i+2)%this.nrLinks][5] }}</b>
          </td>
          <td></td>
          <td></td>
          <td class="wall-2-services"><b>ASK Σ: </b>{{this.tag[(i+2)%this.nrLinks][4]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="wall-1-projects" colspan="3">&nbsp;service demand</td>
          <td></td>
          <td (click)="onPrev()"><b>
              <</b> </td> <td class="wall-3-market">market loop</td>
          <td (click)="onNext()"><b>></b></td>
          <td></td>
          <td class="wall-2-services" colspan="3">service offer</td>
        </tr>
      </table>
    </section>

    <section id="manual" *ngIf="manual">
  
      <div id="round-robin-container">

        <div id="interest-container" fxLayout="row" fxLayoutAlign="space-between center">
          <!--
                  <div>#<br><b>{{ linkId }}</b></div>
                  <div> link: <br><b>{{ link1 }}</b></div>
                  <div><b>f 101</b><br><b>¢ {{ this.tag[linkId][5] }}</b></div>
        -->
        
          <div style="text-align: left"><b>innovation: {{prj_state}} / {{prj}}</b>
            <br><b>p: {{p}}</b></div>
        
          <div style="text-align: center"> <b>{{ linkId }} | c: {{c}} of {{combNo}} = {{prj * srv}} </b>
            <br><b>{{ tag[linkId][0] }}</b></div>
        
          <div style="text-align: right"><b>service: {{srv_state}} / {{srv}}</b>
            <br><b>s: {{s}}</b></div>
        
        
        </div>

        <div id="pairing" fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="center center">
        
          <div class="viz-prj" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center"
          style="position: relative; top: 15px;">
            <div id="prj-owner" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly center"
            style="position: relative; top: 0px;">
              <div class="po-step" id="po-script-in"
              [@poScriptOn]="po_in_state"
              (@poScriptOn.done)="animPoInDone()">
                {{ po_script_in }}
              </div>
              <div class="po-step" id="po-script-mid"
              [@poScriptMid]="po_mid_state"
              (@poScriptMid.done)="animPoMidDone()">
                {{ po_script_mid }}
              </div>
              <div class="po-step" id="po-script-out"
              [@poScriptOff]="po_out_state"
              (@poScriptOff.done)="animPoOutDone()">
                {{ po_script_out }}
              </div>
              <div class="po-step" id="po-script-deal"
              [@poScriptDeal]="po_deal_state"
              (@poScriptDeal.done)="animPoDealDone()">
                {{ po_script_deal }}
              </div>
            </div>
            <div id="prj-state" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly center"
            style="position: relative; top:0px;">
              <div class="ps-step" id="ps-script-in"
              [@psScriptOn]="ps_in_state"
              (@psScriptOn.done)="animPsInDone()">
                {{ ps_script_in }}
              </div>
              <div class="ps-step" id="ps-script-mid"
              [@psScriptMid]="ps_mid_state"
              (@psScriptMid.done)="animPsMidDone()">
                {{ ps_script_mid }}
              </div>
              <div class="ps-step" id="ps-script-out"
              [@psScriptOff]="ps_out_state"
              (@psScriptOff.done)="animPsOutDone()">
                {{ ps_script_out }}
              </div>
              <div class="ps-step" id="ps-script-deal"
              [@psScriptDeal]="ps_deal_state"
              (@psScriptDeal.done)="animPsDealDone()">
                {{ ps_script_deal }}
              </div>
            </div>
          </div>

          <div class="viz-links" fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center center">
            <div id="dna-links" fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center"
              style="position: relative; top: 12px;">
              <div class="dna-reg" id="dna-link-in"></div>
              <div class="dna-reg" id="dna-link-mid"></div>
              <div class="dna-reg" id="dna-link-out"></div>
            </div>
            <div id="rna-links" fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center"
              style="position: relative; top: 20px;">
              <div class="rna-exe" id="rna-link-in"></div>
              <div class="rna-exe" id="rna-link-mid"></div>
              <div class="rna-exe" id="rna-link-out"></div>
            </div>
          </div>

          <div class="viz-srv" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center"
          style="position: relative; top: 15px;">
              <div id="srv-owner" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly center"
              style="position: relative; top: 0px;">
                <div class="so-step" id="so-script-in"
                [@soScriptOn]="so_in_state"
                (@soScriptOn.done)="animSoInDone()">
                  {{ so_script_in }}
                </div>
                <div class="so-step" id="so-script-mid"
                [@soScriptMid]="so_mid_state"
                (@soScriptMid.done)="animSoMidDone()">
                  {{ so_script_mid }}
                </div>
                <div class="so-step" id="so-script-out"
                [@soScriptOff]="so_out_state"
                (@soScriptOff.done)="animSoOutDone()">
                  {{ so_script_out }}
                </div>
                <div class="so-step" id="so-script-deal"
                [@soScriptDeal]="so_deal_state"
                (@soScriptDeal.done)="animSoDealDone()">
                  {{ so_script_deal }}
                </div>
              </div>
              <div id="task-state" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly center"
              style="position: relative; top: 0px;">
                <div class="ts-step" id="ts-script-in"
                [@tsScriptOn]="ts_in_state"
                (@tsScriptOn.done)="animTsInDone()">
                  {{ ts_script_in }}
                </div>
                <div class="ts-step" id="ts-script-mid"
                [@tsScriptMid]="ts_mid_state"
                (@tsScriptMid.done)="animTsMidDone()">
                  {{ ts_script_mid }}
                </div>
                <div class="ts-step" id="ts-script-out"
                [@tsScriptOff]="ts_out_state"
                (@tsScriptOff.done)="animTsOutDone()">
                  {{ ts_script_out }}
                </div>
                <div class="ts-step" id="ts-script-deal"
                [@tsScriptDeal]="ts_deal_state"
                (@tsScriptDeal.done)="animTsDealDone()">
                  {{ ts_script_deal }}
                </div>
              </div>
            </div>
        
        </div>

        <div id="project-service-container" fxLayout="row" fxLayoutGap="0px" 
        style="width: 300px; height: 300px; position: relative; top: -330px;">

          <div id="projects-container">

            <div id="project-list" [@prjState]="prj_state">

            <div class="project-container">

              <div class="project-title">1. {{ problems[(i) % nrLinks][0] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" [ngStyle]="{'background-image': setPrjOwnerImage(0, 0) }">
                  <img src="/assets/img/3-scripts-dna-left-150.png"></div>
                <div class="project-owner-badges">1. Innovator<br>
                  Canada<br>
                  Meetup: TCP1P<br>
                  Toronto
                </div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image" [ngStyle]="{'background-image': setPrjStateImage(0) }">
                  <img src="/assets/img/3-scripts-dna-left-150.png"></div>
                <div class="project-state-badges">1. Tags -</div>
              </div>

            </div>

            <div class="project-container">

              <div class="project-title">2. {{ problems[(i) % nrLinks][1] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage(1, 0) }">
                <img src="/assets/img/manual-business-process-150.png"></div>
                <div class="project-owner-badges">2. Innovator </div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image"><img src="/assets/img/manual-project-manager-150.png"></div>
                <div class="project-state-badges">2. Tags -</div>
              </div>

            </div>

            <div class="project-container">

              <div class="project-title">3. {{ problems[(i) % nrLinks][2] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage(2, 0) }"></div>
                <div class="project-owner-badges">3. Innovator</div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image">Project Status: </div>
                <div class="project-state-badges">3. Tags -</div>
              </div>

            </div>
            
            <div class="project-container">

              <div class="project-title">4. {{ problems[(i) % nrLinks][3] }}</div>

              <div class="project-owner-container" fxLayout="row">                
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage(3, 0) }"></div>
                <div class="project-owner-badges">4. Innovator</div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image">Project Status: </div>
                <div class="project-state-badges">4. Tags -</div>
              </div>

            </div>
            
            <div class="project-container">

              <div class="project-title">5. {{ problems[(i) % nrLinks][4] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage( 4, 0) }"></div>
                <div class="project-owner-badges">5. Innovator</div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image">Project Status: </div>
                <div class="project-state-badges">5. Tags -</div>
              </div>

            </div>
            
            <div class="project-container">

              <div class="project-title">6. {{ problems[(i) % nrLinks][5] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage( 5, 0) }"></div>
                <div class="project-owner-badges">6. Innovator</div>
              </div>

              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image">Project Status: </div>
                <div class="project-state-badges">6. Tags -</div>
              </div>

            </div>
            
            <div class="project-container">

              <div class="project-title">7. {{ problems[(i) % nrLinks][6] }}</div>

              <div class="project-owner-container" fxLayout="row">
                <div class="project-owner-image" 
                [ngStyle]="{'background-image': setPrjOwnerImage( 6, 0) }"></div>
                <div class="project-owner-badges">7. Innovator</div>
              </div>
              <div class="project-state-container" fxLayout="row">
                <div class="project-state-image">Project Status: </div>
                <div class="project-state-badges">7. Tags -</div>
              </div>
            </div>

          </div>

          </div>

          <div id="services-container">
          
            <div id="service-list" [@srvState]="srv_state">

            <div class="service-container">
              <div class="service-title">7. {{ services[(i) % nrLinks][6] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 6, 1) }"></div>
                <div class="service-owner-badges">7. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                  <div class="service-state-badges">- 7. Skills</div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
          
            <div class="service-container">
              <div class="service-title">6. {{ services[(i) % nrLinks][5] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 5, 1) }"></div>
                <div class="service-owner-badges">6. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                <div class="service-state-badges">- 6. Skills</div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
            
            <div class="service-container">
              <div class="service-title">5. {{ services[(i) % nrLinks][4] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 4, 1) }"></div>
                <div class="service-owner-badges">5. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                <div class="service-state-badges">- 5. Skills</div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
            
            <div class="service-container">
              <div class="service-title">4. {{ services[(i) % nrLinks][3] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 3, 1) }"></div>
                <div class="service-owner-badges">4. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                  <div class="service-state-badges">- 4. Skills</div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
            
            <div class="service-container">
              <div class="service-title">3. {{ services[(i) % nrLinks][2] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 2, 1) }"></div>
                <div class="service-owner-badges">3. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                  <div class="service-state-badges">- 3. Skills</div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
            
            <div class="service-container">
              <div class="service-title">2. {{ services[(i) % nrLinks][1] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image" 
                [ngStyle]="{'background-image': setSrvOwnerImage( 1, 1) }">
                <img src="/assets/img/manual-engage-process-150.png"></div>
                <div class="service-owner-badges">2. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                  <div class="service-state-badges">
                      <img src="/assets/img/manual-service-labour-150.png"></div>
                <div class="service-state-image">Service Status: </div>
              </div>
            </div>
            
            <div class="service-container">
              <div class="service-title">1. {{ services[(i) % nrLinks][0] }}</div>
              <div class="service-owner-container" fxLayout="row">
                <div class="service-owner-image"
                [ngStyle]="{'background-image': setSrvOwnerImage( 0, 1) }">
                <img src="/assets/img/3-scripts-dna-right-150.png" width="150px;" height="150px;"></div>
                <div class="service-owner-badges">1. Owner</div>
              </div>
              <div class="service-state-container" fxLayout="row">
                <div class="service-state-image" [ngStyle]="{'background-image': setSrvStateImage(0) }">
                  <img src="/assets/img/3-scripts-dna-right-150.png">
                </div>
                  <div class="service-state-badges">Service Status</div>
              </div>
            </div>

          </div>
          
          </div>

        </div>

      </div>

    <!-- Table draft for Manual / FaceMash View 
      <table id="fbView" style="width:300px">
        <tr>
          <td style="height:20px">title</td>
          <td>title</td>
        </tr>
        <tr>
          <td style="height:10px">subtitle</td>
          <td>subtitle</td>
        </tr>
        <tr>
          <td style="height:150px">
            <img src="/assets/img/0projects/voyager-woman.png" alt="Voyager Project" height="150" width="150">
          </td>
          <td>
            <img src="/assets/img/0services/voyager-man.png" alt="Voyager Service" height="150" width="150">
          </td>
        </tr>
      </table>
    -->

    </section>
  
    <section *ngIf="run">
  
      <div id="hello-world">
        <h1 id="main-title">web recombinant genes</h1>
        <div class="header" fxLayout="row" fxLayoutAlign="center center">
          <div id="left" fxFlex="27%">
            <p>
              <br><span class="side-title">world teams</span><br>
              links<sup>2</sup>: {{ superFriendsNo }}<br>
              projects: {{ superProjectsNo }}<br>
              services: {{ superServicesNo }}<br>
              tasks/ms: {{ superTxPerMs }}<br>
              $/min: {{ superRatePerMin | currency }}<br>
              <span class="side-title">web genes</span><br>
            </p>
          </div>
  
          <div id="center" fxFlex="46%">
            <div class="welcome">
              <a *ngIf="!(isAuth$ | async); else Project" routerLink="/signup">
                <img src="/assets/img/fun_icon_512-indigo.png" alt="Solve World's Problems" height="96" width="96">
              </a>
              <ng-template #Project>
                <a id="project" routerLink="/project">
                  <img src="/assets/img/fun_icon_512-indigo.png" alt="Solve World's Problems" height="96" width="96">
                </a>
              </ng-template>
            </div>
          </div>
  
          <div id="right" fxFlex="27%">
            <div fxLayout fxLayoutAlign="end end">
              <p>
                <br><span class="side-title">office teams</span><br>
                friends<sup>2</sup>: {{ officeFriendsNo }}<br>
                projects: {{ officeProjectsNo }}<br>
                skills: {{ officeServicesNo }}<br>
                tasks/ms: {{ officeTxPerMs }}<br>
                $/min: {{ officeRatePerMin | currency }}<br>
                <span class="side-title">business genes</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
  
    </section>

  </section>

</section>

<section id="south-globe">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
    <a routerLink="/login"><button class="auth-button" mat-button>sign in</button></a>
    <a routerLink="/signup"><button class="auth-button" mat-button>sign up</button></a>
  </div>

  <section class="mid" fxLayout="column" fxLayoutAlign="center center">
    <section class="clone" fxLayout="row" fxLayoutGap="60px">
      <div class="open-source" fxLayout="column" fxLayoutAlign="center center">
        <p><b>w3ai.org</b></p>
        <p><b><a href="https://w3ai.org">world teams</a></b></p>
        <p><b><a href="https://w3ai.org">fair votes</a></b></p>
        <p>edu | org</p>
      </div>
      <div class="enterprise" fxLayout="column" fxLayoutAlign="center center">
        <p><b>w3ai.net</b></p>
        <p><b><a href="https://w3ai.net">office teams</a></b></p>
        <p><b><a href="https://w3ai.net">cash votes</a></b></p>
        <p>gov | com</p>
      </div>
    </section>

    <h1>self empowered agile Teams</h1>
    <p>bring</p>
    <p><b>customers * investors * associates</b></p>
    <p>on the G8 Growth Engine</p>
    <p>to</p>
  </section>

  <div class="welcome" fxLayout="row" fxLayoutGap="0px" fxLayoutGap.gt-xs="18px" fxLayoutAlign="center center">
    <section>
      <h3>innovate</h3>
      <a routerLink="/project"><button mat-button>add projects</button></a>
    </section>
    <section>
      <h3>venture</h3>
      <a routerLink="/venture"><button mat-button>add teams</button></a>
    </section>
    <section>
      <h3>progress</h3>
      <a routerLink="/skill"><button mat-button>add nGenes</button></a>
    </section>
  </div>

  <div class="welcome">
    <section>
      <h1>join 1000s of teams</h1>
      <p>&</p>
      <h1>make 1000s of friends</h1>
      <h1>worldwide</h1>
      <h1>online 24/7</h1>
      <h3>connections & results in seconds</h3>
    </section>
  </div>

  <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="30px" fxLayoutAlign="center center">
    <section>
      <h3>how it works</h3>
      <p contenteditable="true">1. post product ideas.</p>
      <p contenteditable="true">2. build web services.</p>
      <p contenteditable="true">3. match winner teams.</p>
    </section>
    <section>
      <h3>available</h3>
      <p>worldwide 24/7.</p>
      <p>online and offline.</p>
      <p>on cloud & web devices.</p>
    </section>
    <section>
      <h3>what you need</h3>
      <p>cloud email: gmail | outlook (soon)</p>
      <p>cloud office: gsheets | excel (soon)</p>
      <p>basic office spreadsheet skills.</p>
    </section>
  </div>

  <div class="welcome">
    <h1>recombinant gene OS</h1>
    <p>your web genes to run 24/7 for you</p>
    <p>3 types of web genes in w3ai format:</p>
    <p>leaders, dealers, services</p>
    <p>build & share projects, skills & teams</p>
    <p>live recombination of service genes</p>
    <p>gene trinity cloned on your OS loop</p>
    <p>for online & offline operation 24/7</p>
    <p>maximize use of world resources</p>
    <p>fair distribution of benefits to all</p>
  </div>

  <div class="meetups" fxLayout="column" fxLayoutAlign="center center">
    <h3>Learn more at W3AI Meetups</h3>
    <a href="https://www.meetup.com/SocialAI/">
      <img src="assets/img/3AI-nCortex.png" title="Join W3AI Meetups in Toronto, NYC, Halifax..." width="480px"
        height="270px">
    </a>
    <ul class="footer">
      <li>
        <a href="https://www.meetup.com/SocialAI/">Toronto</a> -
        <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> -
        <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
      </li>
    </ul>
  </div>
  <div class="welcome">
    <h3>Powered by<br>DNA-CFS<br>algorithm</h3>

    <h1 id="thankyou-title">- Thank Yous -</h1>
    <p>Google - for Firebase / Firestore</p>
    <p>Angular Community</p>
    <p>Github Community</p>
    <p>Microsoft - for Azure hosting</p>
    <p>IBM - Cloud hosting</p>
    <p>Neo4j Community</p>
    <p>PayTM - Meetups hosting Toronto</p>
    <p>Thomson-Reuters - Meetup hosting</p>
    <p>HBC - Meetups hosting Toronto & NYC</p>
    <p>Facebook Developer Circles - FaceMash</p>
    <p>Dalhausie - Meetups hosting Halifax</p>
    <p>Toronto TCP1P Meetup Innovators</p>
    <p>New York Manhattan AIR Innovators</p>
    <p>Halifax AIG Innovators</p>
    <p>and</p>
    <p>thosands supporters, advisers & testers</p>
    <p>-</p>
    <h3 id="thankyou-title">inspired by</h3>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;web
      assembley</p>
    <p>W3C</p>
    <p>TCP/IP</p>
    <p>git SCM</p>
    <p>linux gnu OS</p>
    <p>eukarya dna OS</p>
    <p>...</p>
    <p>Stephen Hawking</p>
    <p>Noam Chomsky</p>
    <p>Marvin Minsky</p>
    <p>Andy Grove</p>
    <p>Larry Page</p>
    <p>Bill Gates</p>
    <p>Alan Turing</p>
    <p>Alonzo Church</p>
    <p>Stephen Wolfram</p>
    <p>Andrew Tanenbaum</p>
    <p>Richard Stallman</p>
    <p>Eric Raymond</p>
    <p>Ingo Molnar</p>
    <p>Eric Maskin</p>
    <p>Linus Torvalds</p>
    <p>Vlad the Dragon</p>
    <p>Mark Zuckerberg</p>
    <p>Satoshi Nakamoto</p>
    <p>Siddhartha Mukherjee</p>
    <p>Alfred North Whitehead</p>
    <p>-</p>

  </div>

  <ul class="footer">
    <li><a href="https://github.com/W3AI/Global-OS">clone dna os kernel @ github</a></li>
    <li>dna os PoC 0.8</li>
    <li>© Ianta Labs / MIT License</li>
  </ul>

  <hr>

  <h3>Interest Loop</h3>
  <p>progress every 4s * prj * srv / interest tag</p>

  <section class="process-table" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
    <table id="loop">
      <tr>
        <td style="width:3px"></td>
        <td style="width:7px"></td>
        <td style="width:105px"></td>
        <td style="width:20px"></td>
        <td style="width:10px"></td>
        <td style="width:85px"></td>
        <td style="width:10px"></td>
        <td style="width:20px"></td>
        <td style="width:105px"></td>
        <td style="width:7px"></td>
        <td style="width:3px"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td contenteditable="true"><b>&nbsp;Projects - PMO&nbsp;</b></td>
        <td>tax</td>
        <td></td>
        <td contenteditable="true"><b>Interests</b></td>
        <td></td>
        <td>tax</td>
        <td contenteditable="true"><b>&nbsp;COE - Services&nbsp;</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Tasks {{ nrProblems }} </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>#</td>
        <td>My Interests</td>
        <td>#</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Services {{nrServices}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat1()}"></td>
        <td>{{nProject1 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag1()}"></td>
        <td>{{pT1}}</td>
        <td>{{link1 | slice:0:8}}</td>
        <td>{{sT1}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag1()}"></td>
        <td>{{nService1 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat1()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat2()}"></td>
        <td>{{nProject2 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag2()}"></td>
        <td>{{pT2}}</td>
        <td>{{link2 | slice:0:8}}</td>
        <td>{{sT2}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag2()}"></td>
        <td>{{nService2 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat2()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat3()}"></td>
        <td>{{nProject3 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag3()}"></td>
        <td>{{pT3}}</td>
        <td>{{link3 | slice:0:8}}</td>
        <td>{{sT3}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag3()}"></td>
        <td>{{nService3 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat3()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat4()}"></td>
        <td>{{nProject4 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag4()}"></td>
        <td>{{pT4}}</td>
        <td id="link4">{{link4 | slice:0:8}}</td>
        <td>{{sT4}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag4()}"></td>
        <td>{{nService4 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat4()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat5()}"></td>
        <td>{{nProject5 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag5()}"></td>
        <td>{{pT5}}</td>
        <td>{{link5 | slice:0:8}}</td>
        <td>{{sT5}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag5()}"></td>
        <td>{{nService5 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat5()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat6()}"></td>
        <td>{{nProject6 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag6()}"></td>
        <td>{{pT6}}</td>
        <td>{{link6 | slice:0:8}}</td>
        <td>{{sT6}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag6()}"></td>
        <td>{{nService6 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat6()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat7()}"></td>
        <td>{{nProject7 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag7()}"></td>
        <td>{{pT7}}</td>
        <td>{{link7 | slice:0:8}}</td>
        <td>{{sT7}}</td>
        <td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag7()}"></td>
        <td>{{nService7 | slice:0:10}}</td>
        <td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat7()}"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="wall-1-projects"><b>BID Σ: </b>{{this.tag[(i+2)%this.nrLinks][3]}}</td>
        <td></td>
        <td></td>
        <td class="wall-3-market" [ngStyle]="{color: getDeltaColor()}"><b>MΔ: {{ this.tag[(i+2)%this.nrLinks][5] }}</b>
        </td>
        <td></td>
        <td></td>
        <td class="wall-2-services"><b>ASK Σ: </b>{{this.tag[(i+2)%this.nrLinks][4]}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="wall-1-projects" colspan="3">&nbsp;service demand</td>
        <td></td>
        <td (click)="onPrev()"><b>
            <</b> </td> <td class="wall-3-market">market loop</td>
        <td (click)="onNext()"><b>></b></td>
        <td></td>
        <td class="wall-2-services" colspan="3">service offer</td>
      </tr>
    </table>
  </section>

  <hr>

  <h3>r e c o m b i n a n t<br>agile &nbsp; DNA &nbsp; OS</h3>
  <p>PMO | backlog &nbsp; * &nbsp; forelog | COE</p>
  <p>projects&#123;&Sigma; tests&#125; &nbsp; * &nbsp; &#123;&Sigma; tasks&#125; services</p>
  <p>prj template X &nbsp; * &nbsp; Y template srv</p>
  <p>regulatory &nbsp; * &nbsp; executable</p>
  <p>	&lt;edoc&gt; &nbsp; * &nbsp; 	&lt;code&gt;</p>
  <p>&lt;DNA.js&gt; &nbsp; * &nbsp; &lt;RNA.js&gt;</p>

  <hr>

  <h3>challenges - chromosomes - genes<br>ranking | pattenting | progress</h3>

  <hr>

  <h3>Completely Fair Scheduler<br>DNAjs Process Table</h3>

  <hr>

  <h3>nGene Data & Code structure</h3>

  <hr>

    <h3 class="todo">todo</h3>

    <img id="aiteams-innovate" src="/assets/img/aiteams-innovate-247.png">

</section>
